{% extends 'mainsite/base.html' %}
{% block title %}Photerva{% endblock %}
{% block head %}
{% load staticfiles %}
{% endblock %}

{%block header%}
<link rel="stylesheet" type="text/css" href="{% static 'mainsite/vendor/fullcalendar/fullcalendar.min.css' %}" />
{%endblock%}
{%block content %}

<h1>Hello World</h1>
<div id="calendar"></div>
{% endblock %}
{% block scripts %}
<script src="{% static 'mainsite/vendor/moment/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'mainsite/vendor/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>

<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultDate: new Date(),
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2016-11-01'
				},
				{
					title: 'Long Event',
					start: '2016-11-07',
					end: '2016-11-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-11-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-11-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2016-11-11',
					end: '2016-11-13'
				},
				{
					title: 'Meeting',
					start: '2016-11-12T10:30:00',
					end: '2016-11-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2016-11-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2016-11-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2016-11-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2016-11-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2016-11-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2016-11-28'
				}
			]
		});

	});

</script>

{% endblock %}
